.hero-section {
  @apply relative flex max-h-screen min-h-screen w-full pt-32;
  @apply bg-cover bg-fixed bg-no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.hero-section__container {
  @apply relative mx-auto w-full max-w-screen-lg;
}

.hero-section__game-logo {
  position: absolute;
  left: 50%;
  margin-left: -30rem;
  width: 60rem;

  & > img {
    @apply h-full w-full;
  }
}

.hero-section__cta-button-list {
  @apply absolute bottom-1/4 right-4 z-10 flex gap-10;
}

.hero-section__cta-button {
  @apply flex h-14 w-14 p-0;
  border-radius: 1.2rem;

  img {
    @apply flex h-full w-full;
  }
}
